.fees {
  margin-bottom: 0.75rem;
  text-align: center;
}

.feesTight {
  composes: fees;
}

.optionWrap {
  display: flex;
  margin-bottom: 1.5rem;
}

.option {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: black;
}

.group {
  margin-bottom: 0;
  padding: 0.5rem;
  font-size: 120%;
  text-transform: uppercase;
  background-color: var(--highlight-faded);
}

.optionWrap:nth-child(2) .group {
  background-color: var(--highlight);
}

.content {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem 1.75rem;
}

.cost {
  flex: 1 1 50%;
  margin-bottom: 0;
}

.sep {
  height: 3rem;
  color: var(--light-grey);
  border-left: 2px solid currentColor;
}

.amount {
  position: relative;
  display: inline-flex;
}

.currency {
  position: absolute;
  top: 0.25rem;
  left: 0;
  transform: translateX(-100%);
}

.value {
  font-size: 250%;
  line-height: 1;
}

.period {
  display: block;
  font-size: 80%;
  text-transform: uppercase;
}

.free {
  font-size: 250%;
  line-height: 1;
  text-transform: uppercase;
}

.first3 {
  display: block;
  margin: 0.5rem 0 0.25rem;
  font-size: 110%;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (width >= 30em) {
  .content {
    font-size: 110%;
  }
}

@media (width >= 35em) {
  .fees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 34rem;
    margin-right: auto;
    margin-left: auto;
  }

  .optionWrap {
    flex: 1 0 auto;
    width: 50%;
    padding: 0 0.75rem;

    &:nth-child(3):last-child {
      width: 17rem;
    }
  }

  .content {
    flex-direction: column;
  }

  .cost {
    flex: 0 1 auto;
  }

  .sep {
    width: 10rem;
    height: auto;
    margin: 1.5rem auto 1.25rem;
    border-top: 2px solid currentColor;
    border-left: none;
  }

  .period {
    font-size: 75%;
  }

  .free {
    font-size: 260%;
  }

  .first3 {
    margin-bottom: 0.625rem;
  }
}

@media (width >= 60em) {
  .fees {
    flex-wrap: nowrap;
    max-width: none;
    margin-right: -1.5rem;
    margin-bottom: 2.5rem;
    margin-left: -1.5rem;
  }

  .feesTight {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  .optionWrap {
    flex: 1 1 25%;
    width: auto;
    margin-bottom: 0;
    padding: 0 1.5rem;
    transform: scale(0.95);

    &:nth-child(2) {
      transform: scale(1.025);
    }

    &:nth-child(3):last-child {
      width: auto;
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .feesTight > .optionWrap {
    padding: 0 0.5rem;
  }

  .option {
    border-bottom: 0.375rem solid var(--highlight-faded);
  }

  .optionWrap:nth-child(2) .option {
    border-bottom-color: var(--highlight);
  }

  .group {
    font-size: 110%;
  }

  .first3 {
    margin: 1rem 0 0.75rem;
  }
}

@media (width >= 75em) {
  .feesTight {
    margin-right: -0.75rem;
    margin-left: -0.75rem;

    & > .optionWrap {
      padding: 0 0.75rem;
    }
  }
}
