.banner {
  position: relative;
  padding: 4.5rem 1.5rem 3rem; /* clear logo */
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.bannerHome {
  composes: banner;
  background: #000 url('../../images/heros/hero.jpg') center / auto 100% no-repeat;
  min-height: 24rem;

  &::before {
    background-color: #000;
    opacity: .75;
  }
}

.bannerPage {
  composes: banner;
  background-blend-mode: lighten; /* blend photo with triangle bg pattern and bg colour */

  &::before {
    background-color: #011627;
    opacity: .85;
  }
}

.bannerTkd {
  composes: bannerPage;
  background: url('https://www.transparenttextures.com/patterns/white-diamond-dark.png'),
    #000 url('../../images/heros/tkd.jpg') center / auto 100% no-repeat;
}

.bannerDojang {
  composes: bannerPage;
  background: url('https://www.transparenttextures.com/patterns/white-diamond-dark.png'),
    #000 url('../../images/heros/dojang.jpg') center / auto 100% no-repeat;
}

.bannerContact {
  composes: bannerPage;
  background: url('https://www.transparenttextures.com/patterns/white-diamond-dark.png'),
    #000 url('../../images/heros/contact.jpg') center / auto 100% no-repeat;
}

@supports (background-blend-mode: lighten) {
  .bannerPage {
    background-color: #011627; /* IE needs black bg by default */
  }
}

.heading {
  font-size: 190%;
  font-weight: 700;
  text-transform: uppercase;
}

.sub {
  display: inline-flex;
  margin-bottom: .75rem;
  padding: .125rem .5rem;
  background-color: #a00309;
  font-size: 130%;
  font-weight: 100;
  text-transform: uppercase;
}

.intro {
  max-width: 25rem;

  & > p:last-child {
    margin-bottom: 0;
  }
}

.bannerHome .heading {
  margin-bottom: 1rem;
}

.bannerHome .intro {
  max-width: 18rem;
}

@media (min-width: 26em) {
  .banner {
    padding: 4rem 2rem 5rem;
  }

  .heading {
    font-size: 200%;
  }

  .sub {
    font-size: 160%;
  }

  .bannerHome .heading {
    font-size: 225%;
  }
}

@media (min-width: 40em) {
  .banner {
    padding-top: 5rem;
    padding-bottom: 5.75rem;

    &::before {
      opacity: .75;
    }
  }

  .bannerHome {
    padding-top: 10rem;
    min-height: 32rem;
    background-position: center right -4rem;
  }

  .bannerPage {
    background-position: 0 0, center right -8rem;
  }

  .heading {
    font-size: 250%;
  }

  .sub {
    font-size: 175%;
    padding: .25rem 1.25rem;
  }

  .bannerHome .heading {
    margin-bottom: .75rem;
    font-size: 300%;
  }

  .bannerHome .intro {
    max-width: 22rem;
  }
}

@media (min-width: 45em) {
  .banner {
    padding-top: 5.75rem;
  }

  .bannerHome {
    padding-top: 12rem;
    min-height: 34rem;
  }
}

@media (min-width: 55em) {
  .banner {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .banner::before {
    content: none;
  }

  .bannerPage {
    padding-top: 6rem;
    background-position: 0 0, center right -8rem;
  }
}

@media (min-width: 60em) {
  .inner {
    box-sizing: content-box;
    max-width: 60rem;
    margin: 0 auto;
  }

  .bannerPage {
    background-position: 0 0, center right -5rem;
  }
}

@media (min-width: 65em) {
  .bannerHome {
    padding-bottom: 14rem;
  }

  .bannerPage {
    background-position: 0 0, center right -3rem;
  }

  .bannerHome .heading {
    font-size: 350%;
  }
}

@media (min-width: 75em) {
  .banner {
    min-height: 28.5rem;
  }
}

@media (min-width: 80em) {
  .bannerHome {
    background-position: center right;
  }

  .bannerPage {
    background-position: 0 0, center right;
  }
}
