.banner {
  min-height: 28.5rem;
  padding-top: 3rem; /* clear logo */
  background-blend-mode: lighten; /* blend photo with triangle bg pattern*/
}

.bannerTkd {
  composes: banner;
  background:
    url('https://www.transparenttextures.com/patterns/white-diamond-dark.png'),
    #011627 url('../../images/tkd.jpg') center right / contain no-repeat;
}

.bannerDojang {
  composes: banner;
  background:
    url('https://www.transparenttextures.com/patterns/white-diamond-dark.png'),
    #011627 url('../../images/dojang.jpg') center right / contain no-repeat;
}

.bannerContact {
  composes: banner;
  background:
    url('https://www.transparenttextures.com/patterns/white-diamond-dark.png'),
    #011627 url('../../images/contact.jpg') center right / contain no-repeat;
}

.inner {
  composes: max from global;
  display: flex;
  padding: 3rem 0 5rem;
}

.content {
  flex: 1;
}

.heading {
  font-size: 250%;
  font-weight: 700;
  text-transform: uppercase;
}

.intro {
  max-width: 30rem;
}
