.btn {
  composes: link-reset from global;
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #fff;
  border-radius: .375em;
  color: #000;
  outline-offset: 2px;
  outline-color: #fff;
  opacity: .85;
  transition: opacity .2s ease-out;
}

.wrapper {
  text-align: center;
}

.icon {
  margin-left: 1.5em;
  margin-top: .125em;
  transition: transform .2s ease-out;
}

.btn:hover {
  opacity: 1;
  text-decoration: none;
}

.btn:hover > .icon {
  transform: translateX(20%);
}
