.header {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  font-size: 85%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.mapRef {
  composes: bg-white from global;
  background-color: rgba(255, 255, 255, .9);
  margin-left: .75em;
  padding: .372em 0 .378em;
  width: 1.75em;
  border-radius: 50%;
}

.city {
  composes: bg-white from global;
  padding: .372em .5625em .378em;
  border-radius: .25em;
}

.name {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 95%;
  font-weight: bold;
}

.link {
  composes: link-reset from global;
  display: flex;
  align-items: center;
  font-size: 90%;
}

.linkUrl {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.linkIcon {
  margin-top: .125em;
  margin-left: .75em;
  opacity: .9;
  transform-origin: bottom left;
  transition: transform .2s ease;
}

@media (min-width: 75em) {
  .header {
    font-size: 70%;
  }

  .link {
    font-size: 75%;
  }
}
