.fees {
  margin-bottom: .75rem;
  text-align: center;
}

.feesTight {
  composes: fees;
}

.optionWrap {
  margin-bottom: 1.5rem;
  display: flex;
}

.option {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.optionWrap:nth-child(2) .group {
  background-color: #a00309;
}

.group {
  margin-bottom: 0;
  padding: .5rem;
  background-color: rgba(160, 3, 9, .7);
  text-transform: uppercase;
  font-size: 120%;
}

.content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem .5rem 1.75rem;
}

.cost {
  flex: 1 1 50%;
  margin-bottom: 0;
}

.sep {
  height: 3rem;
  border-left: 2px solid #777;
}

.amount {
  display: inline-flex;
  position: relative;
}

.currency {
  position: absolute;
  left: 0;
  top: .25rem;
  transform: translateX(-100%);
}

.value {
  font-size: 250%;
  line-height: 1;
}

.period {
  display: block;
  text-transform: uppercase;
  font-size: 80%;
}

.free {
  font-size: 250%;
  line-height: 1;
  text-transform: uppercase;
}

.first3 {
  display: block;
  text-transform: uppercase;
  font-size: 110%;
  margin: .5rem 0 .25rem;
  line-height: 1.25;
}

@media (min-width: 30em) {
  .content {
    font-size: 110%;
  }
}

@media (min-width: 35em) {
  .fees {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
  }

  .optionWrap {
    flex: 1 0 auto;
    width: 50%;
    padding: 0 .75rem;

    &:nth-child(3):last-child {
      width: 17rem;
    }
  }

  .content {
    flex-direction: column;
  }

  .cost {
    flex: 0 1 auto;
  }

  .sep {
    width: 10rem;
    height: auto;
    margin: 1.5rem auto 1.25rem;
    border-top: 2px solid #777;
    border-left: none;
  }

  .period {
    font-size: 75%;
  }

  .free {
    font-size: 260%;
  }

  .first3 {
    margin-bottom: .625rem;
  }
}


@media (min-width: 60em) {
  .fees {
    flex-wrap: nowrap;
    max-width: none;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: 2.5rem;
  }

  .feesTight {
    margin-left: -.5rem;
    margin-right: -.5rem;
  }

  .optionWrap {
    flex: 1 0 25%;
    margin-bottom: 0;
    padding: 0 1.5rem;
    transform: scale(.95);

    &:nth-child(2) {
      transform: scale(1.025);
    }

    &,
    &:nth-child(3):last-child {
      width: auto;
    }
  }

  .feesTight > .optionWrap {
    padding: 0 .5rem;
  }

  .option {
    border-bottom: .375rem solid rgba(160, 3, 9, .7);
  }

  .optionWrap:nth-child(2) .option {
    border-bottom-color: #a00309;
  }

  .group {
    font-size: 110%;
  }

  .first3 {
    margin: 1rem 0 .75rem;
  }
}

@media (min-width: 75em) {
  .feesTight {
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  .feesTight > .optionWrap {
    padding: 0 .75rem;
  }
}
