.fees {
  margin-bottom: .75rem;
  text-align: center;
}

.feesTight {
  composes: fees;
}

.option {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  background-color: #000;

  &:nth-child(2) > .group {
    background-color: #a00309;
  }
}

.group {
  margin-bottom: 0;
  padding: .5rem .75rem;
  background-color: rgba(160, 3, 9, .7);
  text-transform: uppercase;
  font-size: 125%;
  font-weight: 100;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem 1.75rem;
}

.cost {
  margin-bottom: 0;
}

.sep {
  height: 3rem;
  margin: 0 1.5rem;
  border-left: 2px solid #777;
}

.amount {
  display: inline-flex;
  position: relative;
}

.currency {
  position: absolute;
  left: 0;
  top: .25rem;
  transform: translateX(-100%);
}

.value {
  font-size: 300%;
  line-height: 1;
}

.period {
  display: block;
  text-transform: uppercase;
  font-size: 95%;
  font-weight: 100;
}

.free {
  composes: value;
  font-size: 300%;
  text-transform: uppercase;
}

.first3 {
  composes: period;
  font-size: 125%;
  margin: .5rem 0 .25rem;
  line-height: 1.25;
}

@media (min-width: 35em) {
  .fees {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
  }

  .option {
    flex: 1 0 0;
    margin-left: .75rem;
    margin-right: .75rem;

    &:nth-child(3):last-child {
      max-width: 14.5rem;
    }
  }

  .content {
    flex-direction: column;
  }

  .sep {
    width: 10rem;
    height: auto;
    margin: 1.5rem auto 1.25rem;
    border-top: 2px solid #777;
    border-left: none;
  }
}


@media (min-width: 60em) {
  .fees {
    flex-wrap: nowrap;
    max-width: none;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: 2.5rem;
  }

  .feesTight {
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  .option {
    margin: 0 1.5rem;
    border-bottom: .375rem solid rgba(160, 3, 9, .7);
    transform: scale(.95);

    &:nth-child(2) {
      border-bottom-color: #a00309;
      transform: scale(1.025);
    }

    &:nth-child(3):last-child {
      max-width: none;
    }
  }

  .feesTight > .option {
    margin: 0 .75rem;
  }

  .free {
    font-size: 350%;
  }

  .first3 {
    font-size: 125%;
    margin: 1rem 0 .75rem;
  }
}

@media (min-width: 65em) {
  .first3 {
    font-size: 150%;
  }
}

@media (min-width: 75em) {
  .period {
    font-size: 90%;
  }

  .first3 {
    font-size: 150%;
  }
}
