.footer {
  background-color: #000;
}

.inner {
  composes: max from global;
}

.list {
  composes: list-reset from global;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem 0;

  & > li {
    flex: 1;

    &:first-child,
    &:last-child {
      flex: 2;
    }
  }
}

.orgLogoItem {
  text-align: center;
}

.logoLink {
  composes: link-img from global;
  transition: transform .2s ease-out;

  &:hover {
    transform: translateY(-.25rem);
  }
}

.socialMedia {
  align-self: flex-start;
  text-align: right;
  line-height: 1;
  padding-top: .125rem;
}

.socialIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: .5rem;
  margin-right: -.125rem;
}

.socialLink {
  padding: 0 .125rem;
  margin-left: .5rem;
  opacity: .85;
  transition: transform .2s ease-out, opacity .2s ease-out;

  &:hover {
    opacity: 1;
    transform: translateY(-.125rem);
  }
}
