.header {
  composes: bg-white from global;
  position: relative;
  z-index: 1; /* move logo above banner */
  box-shadow: 0 .25rem .625rem .125rem #000;
}

.homeHeader {
  composes: header;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .85);
}

.inner {
  composes: max from global;
  display: flex;
  justify-content: space-between;
  padding: .75rem 0;
}

.logoLink {
  composes: link-img from global;
  margin-bottom: calc(-75px - .75rem);
}

.nav {
  display: flex;
}

.navList {
  composes: list-reset from global;
  display: flex;
  align-items: center;
}

.navLink {
  margin: 0 .75rem;
  padding: .325rem .25rem;
  text-decoration: none;
}

.navLinkInner {
  position: relative;
  display: inline-flex;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -.325rem;
    left: -.2px;
    right: -.2px;
    height: 4px;
    border-radius: 2px;
    backface-visibility: hidden;
  }

  &::before {
    display: none;
    background-color: #231f20;
    opacity: .5;
  }

  &::after {
    background-color: #231f20;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform .15s ease-out;
  }
}

.activeNavLink > .navLinkInner::before {
  display: block;
}

.navLink:hover > .navLinkInner::after {
  transform: scaleX(1);
  transition-duration: .25s;
}
