.header {
  position: relative;
  z-index: 1; /* move logo above banner */
  padding: 0 .5rem;
  font-size: 95%;
  background-color: #fff;
  box-shadow: 0 .25rem .625rem .125rem #000;
  color: #231f20;
}

.homeHeader {
  composes: header;
}

.inner {
  composes: max from global;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: .75rem;
}

.logoLink {
  composes: link-img from global;
  order: 1;
  margin-bottom: -3rem;

  & > img {
    width: 6rem;
  }
}

.nav {
  flex: 1 0 100%;
  margin-bottom: .5rem;
}

.navList {
  composes: list-reset from global;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 20em;
  margin: 0 auto;
}

.navLink {
  display: block;
  margin: 0 .25rem;
  padding: .325rem .25rem;
  text-decoration: none;
}

.navLinkInner {
  position: relative;
  display: inline-flex;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -.325rem;
    left: -.2px;
    right: -.2px;
    height: 4px;
    border-radius: 2px;
    backface-visibility: hidden;
  }

  &::before {
    display: none;
    background-color: #231f20;
    opacity: .5;
  }

  &::after {
    background-color: #231f20;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform .15s ease-out;
  }
}

.activeNavLink > .navLinkInner::before {
  display: block;
}

.navLink:hover > .navLinkInner::after {
  transform: scaleX(1);
  transition-duration: .25s;
}

@media (min-width: 26em) {
  .inner {
    padding-top: .5rem;
    padding-bottom: .5rem;
    align-items: center;
  }

  .logoLink {
    order: 0;
    margin-bottom: 0;
  }

  .nav {
    flex-basis: 0;
    margin-left: .75rem;
    margin-bottom: .75rem;
  }

  .navList {
    justify-content: flex-start;
    margin: 0;
  }
}

@media (min-width: 30em) {
  .header {
    font-size: 100%;
  }

  .nav {
    margin-left: 1.25rem;
  }
}

@media (min-width: 40em) {
  .homeHeader {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .85);
  }

  .inner {
    justify-content: space-between;
    padding-top: .75rem;
    padding-bottom: 0;
  }

  .logoLink {
    margin-bottom: -3rem;
  }

  .nav {
    flex: 0 0 auto;
  }

  .navList {
    max-width: none;
    margin-right: -.5rem;
  }
}

@media (min-width: 45em) {
  .logoLink {
    margin-bottom: -3.5rem;

    & > img {
      width: 7rem;
    }
  }

  .navList {
    margin-right: -.75rem;
  }

  .navLink {
    margin: 0 .75rem;
  }
}

@media (min-width: 55em) {
  .header {
    padding: 0 1.5rem
  }

  .logoLink {
    margin-bottom: -4rem;

    & > img {
      width: 8em;
    }
  }
}
