.otherClubs {
  composes: list-reset from global;
  margin: .5rem 0;
}

.club {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.club:not(:last-child) {
  margin-bottom: .5rem;
}

@media (min-width: 40em) {
  .otherClubs {
    flex: 2;
    margin-left: 1rem;
  }
}
