.otherClubs {
  composes: list-reset from global;
  display: flex;
  margin: 0 -.75rem;
}

.club {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 .75rem
}

.club:not(:last-child) {
  margin-bottom: .5rem;
}

.miniMap {
  margin: 0 auto 1rem;
}

@media (min-width: 40em) {
  .otherClubs {
    flex: 2;
  }
}
