.list {
  composes: list-reset from global;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: -.75rem 0;
}

.item {
  flex: 1 0 100%;
  margin: .75rem;
  max-width: 20rem;

  &:last-child {
    display: none;
  }
}

@media (min-width: 35em) {
  .list {
    display: flex;
    flex-direction: row;
    margin: -.75rem -.75rem -1rem;
  }

  .item {
    flex: 1 1 auto;
  }
}

@media (min-width: 60em) {
  .item:last-child {
    display: block;
  }
}

.link {
  composes: link-reset from global;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 56.25%; /* 16/9 */
  background-color: #000;
  background-size: cover;
  background-clip: padding-box;
  border-radius: .5rem;
  border: 2px solid rgba(255, 255, 255, .2);
  outline-offset: 2px;
  transition: border-color .2s ease-out;

  &:hover {
    border-color: #fff;
  }
}

.label {
  composes: btn from './button.module.css';
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
}

.arrow {
  margin-left: 1em;
  transition: transform .1s ease-out;
}

.link:hover > .label {
  background-color: #000;

  & > .arrow {
    transform: translateX(20%);
  }
}
