.list {
  composes: list-reset from global;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 -.75rem -.25rem;
}

.item {
  flex: 0 1 33.33%;
  margin: 0 .75rem;
}

.link {
  composes: link-reset from global;
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 56.25%; /* 16/9 */
  background-color: #000;
  background-size: cover;
  background-clip: padding-box;
  border-radius: .5rem;
  border: 2px solid rgba(255, 255, 255, .4);
  outline-offset: 2px;
  filter: grayscale(.6);
  transition: filter .2s ease-out, border-color .2s ease-out;

  &:hover {
    filter: none;
    border-color: #fff;
  }
}

.label {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #000;
  border-radius: .375em;
  color: #fff;
  text-decoration: none;
  opacity: .9;
  transition: opacity .3s ease-in-out;
}

.icon {
  margin-left: 1em;
  transition: transform .1s ease-in-out;
}

.link:hover .label,
.link:focus .label {
  opacity: 1;
}

.link:hover .icon {
  transform: translateX(20%);
}

@keyframes scale-down {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
}
