.list {
  composes: list-reset from global;
}

.item {
  max-width: 21rem;
  margin: 1.5rem auto 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    display: none;
  }
}

.link {
  composes: link-reset from global;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 56.25%; /* 16/9 */
  background-color: black;
  background-size: cover;
  background-clip: padding-box;
  border-radius: .5rem;
  border: 2px solid rgba(255, 255, 255, .2);
  outline-offset: 2px;
  transition: border-color .2s ease-out;

  &:hover {
    border-color: white;
  }
}

.label {
  composes: btn from './button.module.css';
  position: absolute;
  bottom: .75rem;
  left: .75rem;
  max-width: calc(100% - 1.5rem);
  background-color: rgba(0, 0, 0, .9);
  color: white;
  overflow: hidden;
}

.arrow {
  margin-left: 1em;
  transition: transform .1s ease-out;
}

.link:hover > .label {
  background-color: black;

  & > .arrow {
    transform: translateX(20%);
  }
}

@media (min-width: 40em) {
  .list {
    display: flex;
    justify-content: center;
    margin: 0 -.75rem .25rem;
    font-size: 95%;
  }

  .item {
    flex: 1 0 auto;
    width: 50%;
    margin: 0;
    padding: 0 .75rem;
  }
}

@media (min-width: 65em) {
  .item {
    width: 33.33%;
    max-width: none;

    &:last-child {
      display: block;
    }
  }
}
