.section {
  padding: 2.25rem 0;
}

.spaced {
  padding: 3rem 0;

  @media (min-width: 45em) {
    padding: 4.5rem 0;
  }
}

.inner {
  composes: max from global;
}

.heading {
  margin-bottom: .75rem;
  font-size: 225%;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.intro {
  text-align: center;
  margin: 0 auto;
  max-width: 45rem;

  &::after {
    content: '';
    display: block;
    width: 9rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    margin: 2.25rem auto calc(2.25rem + .25rem); /* adjust for intro line-height */
    opacity: .3;
  }
}
