.section {
  padding: 2.25rem 0;
}

.spaced {
  padding: 4.5rem 0;
}

.inner {
  composes: max from global;
}

.heading {
  margin-bottom: .75rem;
  font-size: 225%;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.intro {
  text-align: center;

  &::after {
    content: '';
    display: block;
    width: 10rem;
    margin: 2.25rem auto calc(2.25rem + .25rem); /* adjust for intro line-height */
    border-top: 2px solid #777;
  }
}
