.wrapper {
  text-align: center;
}

.btn {
  composes: link-reset from global;
  display: inline-flex;
  align-items: center;
  padding: .5rem 1.125rem .5rem 1rem;
  background-color: var(--white-faded);
  border-radius: .5em;
  color: black;
  white-space: nowrap;
  outline-offset: 2px;
  outline-color: white;
  transition: background-color .2s ease-out;

  &::after {
    content: '\276F';
    margin-left: 1.25em;
    font-size: 75%;
    transition: transform .2s ease-out;
  }

  &:hover {
    background-color: white;
    text-decoration: none;

    &::after {
      transform: translateX(.25em);
    }
  }
}
