.instructor:not(:last-child) {
  margin-bottom: 3rem;
}

.photo {
  border-bottom: .375rem solid var(--highlight);
  margin-bottom: .75rem;
}

.heading {
  margin-bottom: .75rem;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

.numeral {
  color: #c3a511;
  font-weight: 600;
}

.sep {
  margin: 0 .25em;
  opacity: .85;
  font-weight: 600;
}

.bio {
  font-size: 90%;
}

@media (width >= 40em) {
  .instructor {
    flex: 0 1 50%;
    max-width: 35em;
    padding: 0 1rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  .sep {
    margin: 0 .5em;
  }
}

@media (width >= 40em) and (width < 60em) {
  .instructor:first-child, /* always highlight first */
  .instructor[data-total-even]:nth-child(2) { /* highlight second if total is even */
    flex-basis: 100%;
  }
}

@media (width >= 60em) {
  .instructor {
    flex-basis: 33.33%;
  }

  /* highlight first two unless total is divisible by three */
  .instructor:not([data-total-div3]):nth-child(-n + 2),
  .instructor[data-total="3"] { /* but highlight all if total is three */
    flex-basis: auto;
    width: 50%;
  }
}
