.bg-alt,
.bg-alt2 {
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond-dark.png");
}

.bg-alt {
  background-color: #202030;
}

.bg-alt2 {
  background-color: #241623;
}

.bg-white {
  background-color: #fff;
  color: #231f20;
}

.max {
  box-sizing: content-box;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  &--sml {
    max-width: 40rem;
  }
}

@media (min-width: 25em) {
  .max {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.link-reset,
.links-reset a {
  font-weight: inherit;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.link-img {
  display: inline-flex;
  outline-offset: 3px;
  color: inherit; /* fix outline colour */
}

.list-reset {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
