*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', 'Frutiger', 'Segoe UI', 'Helvetica', 'Arial',
    sans-serif;
  line-height: 1.5;
  background-color: black;
  text-rendering: optimizeLegibility;
}

@media (width >= 30em) {
  html {
    font-size: 16px;
  }
}

@media (width >= 75em) {
  html {
    font-size: 18px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & > div,
  & > div > div,
  & main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }
}

h1,
h2,
h3,
strong,
a {
  font-weight: 600;
}

h1,
h2,
h3,
p,
ul,
dl {
  margin: 0 0 1.5rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  outline-color: currentColor;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
