/* Admin interface */


.admin-btn {
	padding-left: 4em;
	padding-right: 2em;
}

.admin-events .form-result-wrap,
.admin-merch .form-result-wrap,
.admin-months .form-result-wrap {
	padding-left: 0;
}


/* ===== Help ===== */

.help-btn {
	float: right;
	margin-left: 2em;
	min-width: 15em;
}

.admin-help {
	overflow: hidden;
}


/* ===== Tables ===== */

.admin-table {
	margin: 1em 0;
}

.admin-table tr:nth-child(even) {
	background-color: #eee;
}

.admin-table th {
	text-align: left;
}

.admin-table th,
.admin-table td {
	padding: .4em .85em;
}

.admin-table td:last-child {
	text-align: center;
}

.admin-table > tbody > tr:first-child,
.admin-row--add {
	border-top: 2px solid #777;
}

.admin-row--add td {
	padding: .5em .3em 0;
	vertical-align: top;
}

.admin-table .field--select {
	padding-left: .2em;
	padding-right: .2em;
}

.admin-table .button {
	padding-top: .6em;
	padding-bottom: .6em;
}


/* ===== Months section (calendar images) =====*/

.admin-months .form-result-wrap {
	margin-bottom: 0;
}

.admin-months .form-result {
	width: 100%;
}

@media (min-width: 40em) {
	
	.admin-months-form {
		max-width: 40em;
	}
	
	.admin-months .form-label {
		width: 40%;
	}
	
	.admin-months .form-field-wrap {
		width: 60%;
	}
	
	.admin-months .form-field {
		width: 100%;
	}
	
	.admin-months .form-row--submit {
		padding-left: 40%;
	}
	
	.admin-months .form-submit {
		width: 100%;
	}

}
