/* Modules used only on page fees.php */


/* ==== Hero image ===== */

.fees-hero {
	position: absolute;
	top: -6.3em;
	right: 1em;
	max-width: 120px;
}

@media (min-width: 25em) {

	.fees-hero {
		max-width: 35%;
	}

}

@media (min-width: 32em) {

	.fees-hero {
		top: -9em;
		max-width: 45%;
	}

}

@media (min-width: 50em) {

	.fees-hero {
		top: -11.5em;
	}

}


/* ===== Membership ===== */

.mbrship-options {
	padding: .5em 0 1.5em;
}

.mbrship-opt {
	padding: .7em 0;
}

.mbrship-opt-link {
	display: block;
	width: 15em;
	padding: .7em .5em 1.2em;
	background-color: #e3e3e3;
	border-radius: 5px;
	box-shadow: 0 0 3px #aaa;
	text-align: center;
	text-decoration: none;
	transition: background-color .25s ease, box-shadow .25s ease;
}

.mbrship-opt-link:hover,
.mbrship--hovered {
	background-color: #f5f5f5;
	box-shadow: 0 0 6px #aaa;
	transition-duration: .5s;
}

.mbrship-fee {
	position: relative;
	display: inline-block;
	padding-bottom: .5em;
	margin: 0 0 .8em;
	color: #777;
	font-size: 130%;
}

.mbrship-val {
	font-size: 350%;
	letter-spacing: -.06em;
}

.mbrship-period {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 80%;
}

.mbrship-group {
	font-size: 140%;
	margin: 0;
}

.mbrship-group > span {
	display: block;
	text-transform: uppercase;
	font-size: 160%;
}

.mbrship-opt-link--primary {
	background-color: #444;
	color: #fff;
	box-shadow: 0 0 8px #666;
}

.mbrship-opt-link--primary:hover {
	background-color: #222;
}

.mbrship-opt-link--primary .mbrship-fee {
	color: #e3e3e3;
}

@media (min-width: 24em) {

	.mbrship-opt {
		float: left;
		width: 15em;
		margin-right: 1.5em;
		font-size: 80%;
	}

	.mbrship-opt-link {
		min-height: 15em;
	}

}

@media (min-width: 28em) {

	.mbrship-intro {
		max-width: 80%;
	}

	.mbrship-opt {
		font-size: 95%;
	}

	.mbrship-opt:nth-child(3) {
		clear: left;
	}

}

@media (min-width: 34em) {

	.mbrship-intro {
		max-width: 50%;
	}

}

@media (min-width: 52em) {

	.mbrship-options {
		padding: 2em 0;
	}

	.mbrship-opt:nth-child(3) {
		clear: none;
	}

}
