/* Modules used only on page social.php */


/* ===== Youtube channel ===== */

.yt-wrap {
	max-width: 42em;
	margin-bottom: 1.4em;
}

.video {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	border-radius: 3px;
	overflow: hidden;
}

.video--first {
	margin-bottom: .6em;
}

.video > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Display the 2 videos side by side */
@media (min-width: 45em) {
	
	.yt-wrap {
		max-width: none;
	}
	
	.video {
		float: left;
		width: 49.5%;
		padding-bottom: 27.84%;
	}
	
	.video--first {
		margin-right: 1%;
	}
	
}


/* ===== Resources (links with image and label) =====*/

.clubs-heading {
	margin: 1.5em 0 .8em;
}

/* Match height of Facebook iframe */
@media (min-width: 40em) {
	.links-wrap { min-height: 382px; }
}
@media (min-width: 60em) {
	.links-wrap { min-height: 378px; }
}


/* Federations */

.resource {
	float: left;
	width: 50%;
	margin-top: 12px;
	padding: 0 10px;
}

.res-link {
	display: block;
	text-align: center;
	font-size: 90%;
}

.res-link > img {
	max-width: 100%;
	height: auto;
	margin: 0 auto 3px auto;
}


/* Associated clubs */

.res-group {
	margin-bottom: 12px;
}

.resource--min {
	margin-top: .5em;
	font-size: 85%;
}

.res-link--min {
	display: table-row;
}

.res-link--min > img,
.res-link--min > span {
	display: table-cell;
	vertical-align: middle;
}

.res-link--min > img {
	margin-right: 1em;
}


/* When clubs are listed in a single column, reduce the size of their badges */
@media (min-width: 32em) and (max-width: 56em) {
	
	.res-link--min > img {
		width: 20px;
		height: 20px;
	}
	
}

/* List clubs on 2 columns whenever possible */
@media (max-width: 31.99em), (min-width: 32em) and (max-width: 39.99em), (min-width: 56em) {
	
	.resource--min {
		float: left;
		width: 48%;
		margin-right: 1%;
	}
	
	.resource--min:nth-child(2n + 1) {
		clear: left;
	}
	
}


/* ===== Facebook Like Box =====*/

.fb-section {
	position: relative;
	overflow: hidden;
	min-height: 427px;
}

.fb-loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.fb-spinner {
	margin: 3em auto;
}

.fb-page {
	display: block!important;
}

.fb-page > span,
.fb-page iframe {
	position: static!important;
	display: block!important;
	width: 100%!important;
	height: auto!important;
	overflow: visible!important;
}

.fb-page iframe {
	height: 427px!important;
}
