.banner {
  composes: bg-alt from global;

  &::before {
    content: '';
    display: block;
    height: 10rem;
    background-image: url('../../images/small-banner.jpg');
    background-size: cover;
    background-position: top 25% right;
    filter: saturate(60%) contrast(120%) sepia(20%);
  }
}

.inner {
  composes: max from global;
  display: flex;
  padding: 3rem 0 5rem;
}

.content {
  flex: 1;
}

.heading {
  font-size: 250%;
  font-weight: 700;
  text-transform: uppercase;
}

.image {
  width: 18rem;
  height: 18rem;
  background-color: #242424;
  background-size: cover;
  border-radius: 50%;
  border: 10px solid #fff;
}
