.banner {
  padding-top: 3rem; /* clear logo */
}

.inner {
  composes: max from global;
  display: flex;
  padding: 3rem 0 5rem;
}

.content {
  flex: 1;
}

.heading {
  font-size: 250%;
  font-weight: 700;
  text-transform: uppercase;
}

.image {
  width: 18rem;
  height: 18rem;
  background-color: #000;
  background-size: cover;
  border-radius: 50%;
  border: 8px solid #fff;
}
