.btn {
  composes: link-reset from global;
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #fff;
  color: #000;
}

.wrapper {
  text-align: center;
}

.icon {
  display: block;
  margin-left: 2.25rem;
  fill: currentColor;
}
