.list {
  composes: list-reset from global;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 -.75rem;
}

.item {
  flex: 1 1 33.33%;
  margin: 0 .75rem;
}

.link {
  composes: link-reset from global;
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 56.25%; /* 16/9 */
  background-color: #000;
  background-size: cover;
  border: 8px solid #fff;
  outline-offset: 2px;
  filter: grayscale(.6);
  transition: filter .3s ease-out;

  /* inner square border */
  &::after {
    content: '';
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    border: 2px solid #fff;
    animation: scale-down .3s ease-out backwards;
  }

  /* remove filter on hover/focus */
  &:hover,
  &:focus {
    filter: none;
  }

  /* reveal square border on hover/focus */
  &:not(:hover):not(:focus)::after {
    display: none;
  }
}

.label {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  white-space: nowrap;
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

@keyframes scale-down {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
}
