.header {
  composes: bg-white from global;
  position: relative;
  z-index: 1; /* move logo above banner */
  box-shadow: 0 4px 10px 2px #000;
}

.inner {
  composes: max from global;
  display: flex;
  justify-content: space-between;
  padding: .75rem 0;
}

.logoLink {
  composes: link-img from global;
  margin-bottom: calc(-75px - .75rem);
}

.nav {
  display: flex;
}

.navList {
  composes: list-reset from global;
  display: flex;
  align-items: center;
}

.navLink {
  margin: 0 .75rem;
  padding: .325rem .25rem;
  text-decoration: none;
}

.activeNavLink,
.navLink:hover {
  border-bottom: 2px solid #a00309;
}

.navLink:hover {
  color: #000;
}
