@CHARSET "UTF-8";
/* Hacks (old-browser hacks and prefixed properties, dirty selectors, non-reusable styles, etc.) */


/* Opacity on IE8 and lower */
.backdrop:after {
	filter: alpha(opacity=90);
}


/* IE7 hasLayout trigger for clearfix */

.row {
	zoom: 1;
}


/* Box sizing */

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/* Gradients */

.header {
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dddddd));
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dddddd 100%);
	background: -o-linear-gradient(top, #f1f1f1 0%, #dddddd 100%);
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dddddd 100%);
	background: linear-gradient(to bottom, #f1f1f1 0%, #dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#dddddd', GradientType=0);
}

.section {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
}

.form-submit {
	background: #e7343c left top no-repeat url('../images/fist.png');
	background-image: url('../images/fist.png'), -moz-linear-gradient(top,  #e7343c 0%, #cb171f 100%);
	background-image: url('../images/fist.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7343c), color-stop(100%,#cb171f));
	background-image: url('../images/fist.png'), -webkit-linear-gradient(top,  #e7343c 0%,#cb171f 100%);
	background-image: url('../images/fist.png'), -o-linear-gradient(top,  #e7343c 0%,#cb171f 100%);
	background-image: url('../images/fist.png'), -ms-linear-gradient(top,  #e7343c 0%,#cb171f 100%);
	background-image: url('../images/fist.png'), linear-gradient(to bottom,  #e7343c 0%,#cb171f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7343c', endColorstr='#cb171f',GradientType=0 );
}

.footer-wrap {
	background: #545456;
	background: -moz-linear-gradient(top, #545456 0%, #3c3c3e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545456), color-stop(100%, #3c3c3e));
	background: -webkit-linear-gradient(top, #545456 0%, #3c3c3e 100%);
	background: -o-linear-gradient(top, #545456 0%, #3c3c3e 100%);
	background: -ms-linear-gradient(top, #545456 0%, #3c3c3e 100%);
	background: linear-gradient(to bottom, #545456 0%, #3c3c3e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545456', endColorstr='#3c3c3e', GradientType=0);
}


/* Shadows */

.form-field {
	-moz-box-shadow: inset 0 0 1px #333;
	-webkit-box-shadow: inset 0 0 1px #333;
	box-shadow: inset 0 0 1px #333;
}


/* Inner containers (TODO) */

.inner,
.cal-month:after {
	min-height: 150px;
	min-height: 9.375rem;
}


