@CHARSET "UTF-8";
/* Modules used only on page dojang.php */


/* ==== Hero image and adjoining content ===== */

.main-hero {
	z-index: 5;
}

@media (max-width: 39.99em) {

	.main-wrap {
		margin-top: 35%;
	}
	
	.main-hero {
		top: 7em;
		right: .5em;
		max-width: 60%;
	}
	
}

@media (min-width: 30em) and (max-width: 40em) {
	
	.dojang-content-end {
		margin-right: -70%;
	}

}

@media (min-width: 30em) and (max-width: 49.99em) {
	
	.main-wrap {
		margin-top: 10em;
	}
	
	.main-hero {
		top: 7em;
		right: .5em;
		max-width: 50%;
	}
	
	.dojang-content {
		margin-right: 40%;
	}
	
}

@media (min-width: 50em) {
	
	.main-hero {
		top: 1.5em;
		right: .6em;
		max-width: 53%;
	}
	
	.dojang-content {
		margin-right: 50%;
	}
	
}

@media (min-width: 57em) {
	
	.main-hero {
		top: 0;
	}
	
}

@media (min-width: 60em) {
	
	.main-hero {
		max-width: 100%;
	}
	
}



/* ===== Instructors ===== */

.instructors {
	overflow: hidden;
}

.instr-content {
	position: relative;
}

.instr-profile {
	width: 100%;
}

.instr-profile:focus {
	outline: 0;
}
	
.instr-belt {
	position: relative;
	left: -12px;
	z-index: 10;
}

.instr-portrait {
	position: absolute;
	top: 0;
	right: 0;
}

.instr-caption {
	margin-top: 1em; 
}

.instr-controls-wrap {
	padding-bottom: 10px;
}

.instr-controls {
	width: 125px;
	margin: 0 auto;
}

.instr-controls > li {
	float: left;
}

.instr-arrow,
.instr-dot {
	display: block;
	width: 25px;
	height: 25px;
	background: transparent center bottom no-repeat url('../images/instr-graphics.png');
}

.instr-arrow:focus,
.instr-dot:focus {
	outline: 0;
}

.instr-arrow-prev {
	background-position: left bottom;
}

.instr-arrow-next {
	background-position: right bottom;
}

.instr-arrow-prev:hover,
.instr-arrow-prev:focus {
	background-position: left top;
}

.instr-arrow-next:hover,
.instr-arrow-next:focus {
	background-position: right top;
}

.instr-arrow-prev.arrow-disabled {
	background-position: left bottom;
}

.instr-arrow-next.arrow-disabled {
	background-position: right bottom;
}

.instr-dot:hover,
.instr-dot:focus,
.instr-dot-selected {
	background-position: center top;
}

@media (min-width: 45em) {
	
	.instr-belt {
		position: absolute;
		left: 0;
		bottom: 0;
	}
	
	.instr-portrait {
		right: 50%;
		top: auto;
		bottom: 0;
	}

	.instr-caption {
		margin-top: 0;
		width: 48%;
		margin-left: auto;
		min-height: 16.5em;
	}
	
	.instr-controls-wrap {
		width: 48%;
		margin-left: auto;
	}
}

@media (min-width: 60em) {
	
	.instr-caption {
		min-height: 14.5em;
	}
	
}


/* ===== Executive Committee ===== */

.exec-member {
	text-align: center;
	position: relative;
	margin-top: 8px;
}

.exec-pic {
	margin: 0 auto;
	border-radius: 75px;
}

.exec-caption {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	margin-bottom: 12px;
	color: #fff;
	font-size: 85%;
}

.exec-caption > span {
	margin-bottom: 5px;
	font-size: 150%;
}


@media (min-width: 22em) and (max-width: 30em), (min-width: 33em) {
	
	.exec-member {
		width: 50%;
		float: left;
	}
	
}


@media (min-width: 51em) {
	
	.exec-member {
		width: 25%;
		float: left;
	}
	
}

