/* Modules used only on page contact.php */


/* ===== Contact section and hero image ===== */

.contact-section {
	padding-bottom: 1em;
}

.contact-image {
	display: none;
}

/* Image is absolutely positioned */
@media (min-width: 32em) {
	
	.contact-section {
		position: relative;
	}
	
	.contact-image {
		position: absolute;
		right: 2.5em;
		top: -7em;
		z-index: 9;
		display: block;
		width: 50%;
	}
	
}

@media (min-width: 42em) {
	
	.contact-image {
		top: auto;
		bottom: .5em;
		width: 350px;
	}

}


/* ===== FAQ ===== */

.faq-list {
	margin: 1.5em 0 0;
	padding: 0 12px;
}

.faq-q {
	font-size: 110%;
	font-weight: bold;
	margin-bottom: .2em;
}

.faq-a {
	margin: 0 0 1.5em;
}

