@CHARSET "UTF-8";
/* Modules used only on page links.php */


/* ===== Resources (links with image and label) =====*/

.clubs-heading {
	margin: 1.5em 0 .8em;
}

.res-group:last-child {
	margin-bottom: 12px;
}

.resource {
	margin-top: 12px;
	max-width: 15em;
}

.resource--min {
	clear: left;
	margin-top: .5em;
}

.res-link {
	display: block;
	text-align: center;
	font-size: 90%;
}

.res-link > img {
	margin: 0 auto 3px auto;
}

.res-link--min {
	display: table-row;
	font-size: 90%;
}

.res-link--min > img,
.res-link--min > span {
	display: table-cell;
	vertical-align: middle;
}

.res-link--min > img {
	padding-right: 1em;
}


@media (min-width: 20em) {
	
	.resource {
		float: left;
		padding: 0 10px;
	}

	.res-link--min {
		font-size: 100%;
	}
	
}

@media (min-width: 30em) {
	
	.res-group {
		float: left;
		width: 48%;
		margin-bottom: 12px;
	}
	
	.res-group--first {
		margin-right: 3%;
	}
	
}

@media (min-width: 60em) {
	
	.res-link {
		font-size: 85%;
	}
	
	.res-group {
		width: 38%;
	}
	
}



/* ===== Facebook Like Box =====*/

.fb-wrap {
	overflow: hidden;
	padding-right: 0;
}

.fb-box {
	width: 100%;
	height: 395px;
	display: block;
	overflow:hidden;
	border:none;
	/* Hide footer link 'Facebook social plugin' */
	position: relative;
	top: 2em;
	margin-top: -2em;
}




