/* Global modules */


/* ===== Main container ===== */

.main-wrap {
	margin-top: 35%;
}

@media (min-width: 30em) {
	
	.main-wrap {
		margin-top: 10em;
	}
	
}

@media (min-width: 50em) {
	
	.main-wrap {
		margin-top: 12.5em;
	}
	
}


/* ===== Main sidebar layout ===== */

/* Start of 2-column layout */
@media (min-width: 30em) {

	.lay-main,
	.lay-side {
		float: left;
	}
	
	.lay-main {
		margin-right: 1.5%;
		width: 65.66%;
	}
	
	.lay-side {
		width: 32.83%;
	}
	
}

/* Reduce proportinal size of sidebar */
@media (min-width: 40em) {

	.lay-main {
		margin-right: 1.5%;
		width: 73.87%;
	}
	
	.lay-side {
		width: 24.63%;
	}
	
}

/* Reduce proportinal size of sidebar */
@media (min-width: 50em) {

	.lay-main {
		width: 79.25%;
	}
	
	.lay-side {
		width: 19.25%;
	}
	
}


/* ===== Sections ===== */

.section {
	margin-bottom: 1.4em;
	background: rgb(249, 249, 249);
	background: transparent -webkit-linear-gradient(top, rgba(255, 255, 255, .85), rgba(221,221,221, .85));
	background: transparent linear-gradient(to bottom, rgba(255, 255, 255, .85), rgba(221,221,221, .85));
}

.section-heading {
	font-weight: normal;
	border-left: 6px solid #ec1a25;
	margin: 0 0 8px 0;
	padding-top: 11px;
	padding-left: 6px;
	border-radius: 3px 0 0;
}

.section-heading-sub {
	font-size: 115%;
	margin: 0;
}

.section-content {
	padding: 0 12px;
}

/* Start of 2-column layout in main */
@media (min-width: 40em) {
	
	.section-1of2 {
		width: 49.25%;
		float: left;
	}
	
	.section-first {
		margin-right: 1.5%;
	}

}


/* ===== Sidebar ===== */

.sidebar {
	font-size: 85%;
	margin-bottom: 1em;
	padding: 1em 2.5em 1.5em;
	background-color: rgba(85, 85, 85, .9);
}

.sidebar a {
	color: #fff;
}

.sidebar a:focus {
	outline-color: #fff;
}

.sidebar-rmit {
	margin: 1em 0 2.5em;
}

.merch-image {
	margin: 0 auto;
}

.merch-title {
	margin-bottom: .5em;
}

.merch-desc {
	margin-top: 0;
}

.merch-get {
	text-align: right;
	margin: 1.5em 0 1.2em;
}

@media (max-width: 29.99em) {
	
	.sidebar-inner {
		width: 15.76em;
		margin: 0 auto;
	}
	
}


/* ===== Top navigation ===== */

.nav {
	outline: 0;
}

.nav-list a {
	position: relative;
	display: block;
	line-height: 2.3em;
	color: #444;
	font-weight: bold;
	padding: 4px 0;
}

.nav-list a:focus,
.nav-list a:hover,
.nav-current {
	background: transparent right center no-repeat url('../images/nav-smash.png');
}

/* Red underline under current item */
.nav-current:after {
	content: "";
	position: absolute;
	bottom: 0;
	display: block;
	width: 36px;
	border-bottom: 4px solid #ec1a25;
}

/* Off-canvas responsive navigation */
@media (max-width: 29.99em) {
	
	.nav-trigger,
	.nav-close {
		display: block;
		background: url(../images/nav-icons.png) no-repeat left top;
	}
	
	.nav-trigger {
		width: 45px;
		height: 45px;
		margin: 1em 1em 1em auto;
	}
	
	.nav-close {
		position: absolute;
		top: 1em;
		right: 1em;
		width: 34px;
		height: 34px;
		background-color: #000;
		background-position: top right;
	}
	
	.nav-trigger:hover { background-position: left bottom; }
	.nav-close:hover { background-position: right bottom; }
	
	
	.nav {
		display: none;
		position: absolute;
		top: 0;
		left: -14em;
		width: 14em;
	}
	
	.nav-visible {
		display: block;
	}
	
	.nav-list {
		position: relative;
		top: 4.5em;
	}
	
	.nav-list a {
		padding-left: 1.5em;
	}
	
	.nav-current:after {
		left: 1.5em;
	}
	
}

/* Start of 2-row layout */
@media (min-width: 30em) {

	.nav-trigger,
	.nav-close {
		display: none;
	}
	
	.nav-list {
		margin-left: 150px;
	}
	
	.nav-list > li {
		float: left;
		width: 33.33%;
		text-align: center;
	}

	/* Display links on 2 lines in the range [35em 60em] */
	.nav-half {
		clear: left;
	}
	
	.nav-current:after {
		left: 50%;
		margin-left: -18px;
	}
	
}

/* End of 2-row layout */
@media (min-width: 50em) {
	
	.nav-list > li {
		width: 16.66%;
	}

	.nav-half {
		clear: none;
	}
	
}


/* ===== Header and logo ===== */

/* Ensure navigation is always above hero image */
.header {
	position: relative;
	z-index: 50;
	background: rgb(220, 220, 220);
	background: transparent -webkit-linear-gradient(top, rgba(241, 241, 241, .85), rgba(221,221,221, .85));
	background: transparent linear-gradient(to bottom, rgba(241, 241, 241, .85), rgba(221,221,221, .85));
}

.logo {
	position: absolute;
	top: 5px;
	left: 10px;
	width: 125px;
	height: 125px;
}

.logo-img {
	width: 100%;
	height: 100%;
}

@media (min-width: 30em) {
	
	.logo {
		position: absolute;
		top: 10px;
		left: 5px;
		width: 150px;
		height: 150px;
	}

}


/* ===== Footer ===== */

.footer-wrap {
	position: relative;
	line-height: 3.5em;
	border-radius: 3px 3px 0 0;
	font-size: 80%;
	text-align: center;
	color: #ccc;
	background-color: #545456;
	background-image: -webkit-linear-gradient(top, #545456, #3c3c3e);
	background-image: linear-gradient(to bottom, #545456, #3c3c3e);
}

.foot-copy {
	margin: 0;
}

.foot-fb {
	font-size: 90%;
}

.foot-fb-link {
	display: block;
	font-size: 170%;
	color: inherit;
}

.foot-fb-icon {
	position: relative;
	top: 2px;
	display: inline;
}

.foot-nav {
	display: none;
}

@media (min-width: 27em) {
	
	.foot-copy {
		float: left;
		width: 40%;
	}
	
	.foot-fb {
		position: absolute;
		right: 0;
		top: 0;
		width: 40%;
	}
	
}

@media (min-width: 55em) {
	
	.foot-copy {
		border-right: 1px solid #999;
	}
	
	.foot-fb {
		border-left: 1px solid #999;
	}
	
	.foot-copy,
	.foot-fb {
		width: 24%;
	}

	.foot-nav {
		display: block;
		float: left;
		width: 75.5%;
		padding-right: 24%;
	}
	
	.foot-nav-list > li {
		float: left;
		width: 16.66%;
	}
	
	.foot-nav a {
		display: block;
		color: #ccc;
	}

}


/* ===== Contact form ===== */

.form {
	position: relative;
	z-index: 10;
	font-size: 110%;
}

.form-result {
	margin: 1.5em 0 2em;
	padding: .8em 1em;
	border-radius: 3px;
	outline: 0;
}

.form-result--fail {
	border: 1px solid #cb171f;
	background-color: rgb(255, 246, 241);
	background-color: rgba(255, 246, 241, .8);
}
.form-result--success {
	border: 1px solid #218d3d;
	background-color: rgb(241, 255, 243);
	background-color: rgba(241, 255, 243, .8);
}

.form-result-message {
	margin: 0;
	font-size: 90%;
}

.form-row {
	margin: 1.5em 0;
}

.form-label,
.form-field {
	display: block;
}

.form-label {
	margin-bottom: 3px;
}

.form-label--special {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

.form-field-wrap,
.form-field,
.form-error,
.form-submit {
	width: 100%;
}

.form-field {
	border: 1px solid #ccc;
	background-color: rgb(248, 248, 248);
	background-color: rgba(248, 248, 248, .8);
	padding: .6em;
	transition: all .4s ease;
}

.form-field--invalid {
	border-color: #f3a6ab;
	-webkit-box-shadow: inset 0 0 2px #f04851;
	   -moz-box-shadow: inset 0 0 2px #f04851;
			box-shadow: inset 0 0 2px #f04851;
}

.form-error {
	position: relative;
	top: -3px;
	z-index: -1;
	padding: .7em 0 .5em;
	border-radius: 0 0 3px 3px;
	background-color: rgb(85, 85, 85);
	background-color: rgba(85, 85, 85, .9);
	color: #fff;
	text-align: center;
	font-size: 90%;
}

.form-submit {
	position: relative;
	font-size: 100%;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: #fff;
	border: 0;
	padding: .9em 4em;
	background: #e7343c left top no-repeat url('../images/fist.png');
	background-image: url('../images/fist.png'), -webkit-linear-gradient(top, #e7343c, #cb171f);
	background-image: url('../images/fist.png'), linear-gradient(to bottom, #e7343c, #cb171f);
}

.form-submit:hover {
	text-decoration: underline;
}

.form-submit--spinner:after {
	content: "";
	position: absolute;
	right: 1em;
	top: 0;
	display: block;
	width: 45px;
	height: 100%;
	background: url(../images/loader.gif) left center transparent no-repeat;
}

@media (min-width: 30em) {
	
	.form-result {
		width: 31em;
	}
	
	.form-label,
	.form-field-wrap {
		float: left;
	}
	
	.form-label {
		width: 6em;
		line-height: 2.5em;
		text-align: right;
		margin-right: 1em;
	}
	
	.form-field-wrap,
	.form-submit {
		width: 24em;
	}
	
	.form-submit {
		margin-left: 7em;
	}
	
	.form-submit > span {
		font-size: 110%;
	}

}

@media (min-width: 50em) {
	
	.form-field-wrap {
		width: 45em;
	}
	
	.form-field {
		float: left;
		width: 24em;
	}
	
	.form-error {
		top: 0;
		float: left;
		width: 17.5em;
		margin-left: 1.5em;
		padding: .7em 0 .7em 1.5em;
		border-radius: 3px;
		text-align: left;
	}
	
	.form-error:before {
		content: "";
		position: absolute;
		left: -.8em;
		top: .6em;
		border-top: .6em solid transparent;
		border-bottom: .6em solid transparent;
		border-right: .5em solid rgb(85, 85, 85);
		border-right: .5em solid rgba(85, 85, 85, .9);
	}
	
}

@media (min-width: 60em) {
	
	.form {
		font-size: 100%;
	}
	
	.form-result {
		width: 34em;
	}
	
	.form-result--error > .form-result-message {
		font-size: 85%;
	}
	
	.form-label {
		width: 9em;
	}
	
	.form-submit {
		margin-left: 10em;
		padding: .7em 4em;
	}
	
}
