@CHARSET "UTF-8";
/* Modules used only on page join.php */


/* ===== Fee (value + period) ===== */

.fee {
	position: relative;
	display: inline-block;
	padding-bottom: .5em;
	margin: 0 0 .8em;
	color: #777;
}

.fee-val {
	font-size: 350%;
	letter-spacing: -.06em;
}

.fee-period {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 80%;
}


/* ===== Membership ===== */

.mbrship-opt-wrap {
	padding: 5px;
	background-color: #e3e3e3;
	border-radius: 5px;
	box-shadow: 0 0 3px #aaa;
	text-align: center;
}

.mbrship-fee {
	font-size: 130%;
}

.mbrship-group {
	font-size: 150%;
	margin: 0;
}

.mbrship-group > span {
	display: block;
	text-transform: uppercase;
	font-size: 160%;
}

.mbrship-note {
	margin-bottom: .8em;
}

@media (max-width: 26.99em) {
	
	.mbrship-opt {
		margin-top: 10px;
	}
	
}

@media (min-width: 27em) {
	
	.mbrship-opt {
		float: left;
		width: 33.33%;
	}
	
	.mbrship-opt-wrap {
		width: 13em;
		min-height: 13em;
	}
	
	.mbrship-opt-wrap-middle,
	.mbrship-opt-wrap-right {
		margin-left: auto;
	}
	
	.mbrship-opt-wrap-middle {
		margin-right: auto;
	}
	
}

@media (min-width: 27em) and (max-width: 32.99em) {
	
	.mbrship-opt-wrap {
		font-size: 80%;
	}
	
}

@media (min-width: 33em) and (max-width: 44.99em) {
	
	.mbrship-note {
		text-align: right;
	}
	
}

@media (min-width: 45em) {
	
	.membership {
		position: relative;
	}
	
	.mbrship-options {
		margin-right: 14em;
		padding: .8em 1em 1.2em;
	}
	
	.mbrship-note {
		position: absolute;
		right: 2em;
		bottom: 2em;
		width: 14em;
		font-size: 85%;
	}
	
}


/* ===== Lessons ===== */

.lessons-fee {
	margin-top: 1em;
}

.lessons-each {
	float: left;
	margin-right: 1.8em;
	font-size: 100%;
}

.lessons-each > .fee-period {
	bottom: -.3em;
}

.lessons-cards {
	float: left;
	overflow: hidden;
	padding-left: 1.2em;
}

.lessons-3free {
	font-size: 200%;
	border-top: 2px solid #777;
	margin: .5em 0;
	padding: 1em 0 0;
	color: #777;
	overflow: hidden;
}

.lessons-free {
	float: left;
	text-transform: uppercase;
	font-size: 200%;
	margin-right: .2em;
}

.lessons-3 {
	display: block;
	overflow: hidden;
	width: 4em;
	position: relative;
	top: -.2em;
}

@media (min-width: 43.5em) {
	
	.lessons {
		position: relative;
		padding-left: 270px;
		min-height: 210px;
	}
	
	.lessons-cards-img {
		float: left;
		position: absolute;
		bottom: 0;
		left: 12px;
		margin-right: 1.5em;
	}

}

@media (min-width: 60em) {
	
	.lessons-each {
		font-size: 120%;
	}
	
}


