/* Modules used only on page fees.php */


/* ==== Hero image ===== */

.fees-hero {
	position: absolute;
	pointer-events: none;
	top: 7em;
	right: 1em;
	max-width: 50%;
}

.fees-hero--hovered {
	cursor: pointer;
}

@media (min-width: 30em) and (max-width: 34.99em) {
	
	.fees-hero {
		max-width: 40%;
	}
	
}

@media (min-width: 35em) {
	
	.fees-hero {
		max-width: 34%;
	}
	
}

@media (min-width: 45em) {
	
	.fees-hero {
		max-width: 40%;
	}
	
}

@media (min-width: 50em) {
	
	.fees-hero {
		top: 1em;
	}
	
}


/* ===== Fee (value + period) ===== */

.fee {
	position: relative;
	display: inline-block;
	padding-bottom: .5em;
	margin: 0 0 .8em;
	color: #777;
}

.fee-val {
	font-size: 350%;
	letter-spacing: -.06em;
}

.fee-period {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 80%;
}


/* ===== Membership ===== */

.membership {
	padding-top: .5em;
}

.mbrship-opt {
    padding: .7em 0;
}

.mbrship-opt-link {
	display: block;
	width: 14em;
	margin: 0 auto;
	padding: .7em .5em 1.2em;
	background-color: #e3e3e3;
	border-radius: 5px;
	box-shadow: 0 0 3px #aaa;
	text-align: center;
	text-decoration: none;
	transition: all .15s ease;
}

.mbrship-opt-link:hover,
.mbrship--hovered {
	background-color: #f5f5f5;
	box-shadow: 0 0 6px #aaa;
	transition-duration: .3s;
	cursor: pointer !important;
}

.mbrship-fee {
	font-size: 130%;
}

.mbrship-group {
	font-size: 150%;
	margin: 0;
}

.mbrship-group > span {
	display: block;
	text-transform: uppercase;
	font-size: 160%;
}

.mbrship-note {
	margin-bottom: .8em;
	max-width: 25em;
}

@media (min-width: 25em) {
	
	.mbrship-opt {
		float: left;
		width: 50%;
	}
	
	.mbrship-opt-link {
		min-height: 13em;
	}
	
}

@media (min-width: 30em) {
    
    .mbrship-options {
        max-width: 80%;
    }
    
}

@media (min-width: 40em) {
	
	.membership {
		position: relative;
		padding-top: 1em;
	}
	
	.mbrship-options {
        max-width: 65%;
		padding: .8em 1em 1.2em;
	}
	
	.mbrship-note {
		position: absolute;
		right: 2em;
		bottom: 2em;
		width: 16em;
		font-size: 85%;
		text-align: right;
	}
	
}

@media (min-width: 50em) {
	
	.mbrship-options {
        max-width: 55%;
	}
	
}


/* ===== Lessons ===== */

.lessons-fee {
	margin: 1em 0 2em;
}

.lessons-each,
.lessons-month {
    display: inline-block;
	font-size: 95%;
}

.lessons-each {
    margin-right: 1em;
}

.lessons-each > .fee-period,
.lessons-month > .fee-period {
	bottom: -.8em;
    font-size: 110%;
}

.lessons-3free {
	font-size: 200%;
	border-top: 2px solid #777;
	margin: .5em 0;
	padding: 1em 0 0;
	color: #777;
	overflow: hidden;
}

.lessons-free {
	float: left;
	text-transform: uppercase;
	font-size: 200%;
	margin-right: .2em;
}

.lessons-3 {
	display: block;
	overflow: hidden;
	width: 4em;
	position: relative;
	top: -.2em;
}

@media (min-width: 43.5em) {
	
	.lessons {
		position: relative;
		padding-left: 270px;
		min-height: 210px;
	}
	
	.lessons-cards-img {
		float: left;
		position: absolute;
		bottom: 0;
		left: 12px;
		margin-right: 1.5em;
	}

}

@media (min-width: 43.5em) and (max-width: 46.99em) {
    
    .lessons-each,
    .lessons-month {
        font-size: 85%;
    }
     
}

@media (min-width: 50em) {
    
	.lessons-month {
        margin-left: 2em;
    }
    
}

@media (min-width: 55em) {

    .lessons-note {
        position: absolute;
		right: 2em;
		bottom: 3.5em;
        max-width: 17em;
		font-size: 85%;
        text-align: right;
    }
    
}


@media (min-width: 60em) {

    .lessons-fee {
        margin-bottom: 1em;
    }
	
	.lessons-each,
	.lessons-month {
		font-size: 120%;
	}

    .lessons-each > .fee-period,
    .lessons-month > .fee-period {
	    bottom: -.3em;
        font-size: 100%;
    }
	
    .lessons-note {
        width: 15.5em;
		bottom: 1.3em;
    }
    
}


