/* Modules used only on page index.php */


/* ===== Hero image and welcome section ===== */

.index-hero {
	position: absolute;
	z-index: -5;
}

@media (max-width: 39.99em) {
	
	.index-hero {
		top: 5.5em;
		right: -2em;
		max-width: 70%;
	}
	
}

@media (min-width: 32em) and (max-width: 49.99em) {
	
	.lay-main--welcome {
		width: 100%;
		margin-right: 0;
	}
	
	.index-hero {
		top: 5em;
		right: -1em;
		max-width: 70%;
	}
	
}

@media (min-width: 40em) and (max-width: 49.99em) {
	
	.index-hero {
		top: 6em;
		right: -11.5em;
		max-width: 70%;
	}
	
}

@media (min-width: 50em) {
	
	.index-hero {
		top: -2.6em;
		right: -235px;
		max-width: 90%;
	}
	
}


/* ===== Timetable ===== */

.tmtbl-section {
	min-height: 194px;
	min-height: 12.125rem;
}

.tmtbl {
	empty-cells: show;
	border-collapse: collapse;
	width: 100%;
}

.tmtbl th,
.tmtbl td {
	text-align: center;
	padding: 0;
}

.tmtbl td {
	width: 23%;
}

.tmtbl > thead th {
	padding: 0 0 5px;
}

.tmtbl tbody th {
	font-size: 85%;
	padding: 0 5px;
}

.tmtbl-odd {
	background-color: #eee;
}

.tmtbl-caption {
	caption-side: bottom;
	text-align: left;
	padding-left: 1em;
	margin: .7em 0 .4em;
	font-size: 80%;
}

.tmtbl-legend {
	display: inline-block;
	width: 0;
}

.tmtbl-legend + span {
	margin-right: 10px;
}

.tmtbl-training,
.tmtbl-openmat {
	display: block;
	width: 1.8em;
	height: 100%;
	min-height: 1.55em;
	margin: 0 auto;
}

.tmtbl-legend-square {
	display: inline-block;
	vertical-align: -0.4em;
	height: 1.55em;
}

.tmtbl-training {
	background-color: #edcc2f;
}

.tmtbl-openmat {
	background-color: #633072;
}

.tmtbl-top {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.tmtbl-bot {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}


/* ===== Location ===== */

.map-section {
	overflow: hidden;
}

.map-wrap {
	position: relative;
}

.map-link {
	display: block;
	height: 100%;
	color: #fff;
}

.map-link:focus {
	outline: 0;
}

.map-link:focus > .map-caption > span {
	outline: 1px dashed #fff;
}

.map-link > img {
	margin-left: -236px;
}

.map-caption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: .35em .5em;
	text-align: center;
}


/* ===== Calendar ===== */

.calendar {
	position: relative;
	padding: 0 1em;
}

.cal-inner {
	overflow: hidden;
}

.cal-months {
	width: 600%;
	min-height: 150px;
}

.cal-months[data-position="1"] { transform: translate3d(-16.66%, 0, 0); }
.cal-months[data-position="2"] { transform: translate3d(-33.33%, 0, 0); }
.cal-months[data-position="3"] { transform: translate3d(-50%, 0, 0); }
.cal-months[data-position="4"] { transform: translate3d(-66.66%, 0, 0); }
.cal-months[data-position="5"] { transform: translate3d(-83.33%, 0, 0); }

.no3d .cal-months { left: 0; }
.no3d .cal-months[data-position="1"] { left: -100%; }
.no3d .cal-months[data-position="2"] { left: -200%; }
.no3d .cal-months[data-position="3"] { left: -300%; }
.no3d .cal-months[data-position="4"] { left: -400%; }
.no3d .cal-months[data-position="5"] { left: -500%; }

.cal-month {
	width: 16.66%;
	padding: 0 5px;
}

.cal-month-inner {
	position: relative;
	overflow: hidden;
}

.cal-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 14em;
	padding: .5em 1.4em .5em .5em;
}

.cal-caption > ul {
	font-size: 85%;
}

.cal-caption li {
	margin-bottom: 5px;
}

.cal-heading {
	margin: .2em 0 .6em;
	font-size: 180%;
	font-weight: normal;
}

.cal-img {
	margin-left: -204px; /* half of width for centering */
}

.cal-arrow {
	position: absolute;
	top: 60px;
	left: 2px;
	z-index: 2;
	display: block;
	width: 25px;
	height: 25px;
	padding: 0;
	background: url('../images/cal-arrows.png') no-repeat left top #fff;
	border: none;
	border-radius: 50%;
}

.cal-arrow--next {
	left: auto;
	right: 2px;
	background-position: right top;
}

.cal-arrow--prev:not(:disabled):hover { background-position: left bottom; }
.cal-arrow--next:not(:disabled):hover { background-position: right bottom; }

/* Start of 2-column layout */
@media (min-width: 40em) {
	
	.cal-months {
		width: 300%;
	}
	
	.no3d .cal-months[data-position="1"] { left: -50%; }
	.no3d .cal-months[data-position="2"] { left: -100%; }
	.no3d .cal-months[data-position="3"] { left: -150%; }
	.no3d .cal-months[data-position="4"] { left: -200%; }
	.no3d .cal-months[data-position="5"] { left: -250%; }
	
	.cal-month[aria-hidden="false"] + .cal-month {
		visibility: visible;
	}
	
}

/* Switch to big, offset arrows */
@media (min-width: 62em) {

	.cal-arrow {
		top: 47px;
		width: 50px;
		height: 50px;
		background-image: url('../images/cal-arrows-big.png');
		background-color: transparent;
		border-radius: 0;
	}
	
	.cal-arrow--prev { left: -10px; }
	.cal-arrow--next { right: -10px; }

}

