/* Modules used only on page dojang.php */


/* ==== Hero image and adjoining content ===== */

.dojang-hero {
	position: absolute;
	top: -6em;
	right: 1em;
	width: 45%;
	min-width: 140px;
	max-width: 160px;
}

@media (min-width: 32em) {
		
	.dojang-hero {
		top: -8.5em;
		width: 50%;
		max-width: none;
	}
	
	.dojang-p1 {
		padding-right: 45%;
	}
	
}

@media (min-width: 39em) {
	
	.dojang-p2 {
		padding-right: 30%;
	}
	
}

@media (min-width: 42em) {
	
	.dojang-p1 {
		padding-right: 50%;
	}
	
}

@media (min-width: 47em) {
	
	.dojang-p2 {
		padding-right: 40%;
	}
	
	.dojang-p3 {
		padding-right: 20%;
	}
	
}

@media (min-width: 50em) {
	
	.dojang-hero {
		top: -11em;
	}
	
	.dojang-content {
		margin-right: 5%;
	}
	
	.dojang-p3 {
		padding-right: 25%;
	}
	
}

@media (min-width: 60em) {
	
	.dojang-hero {
		width: auto;
	}
	
	.dojang-content {
		margin-right: 14%;
	}
	
	.dojang-p3 {
		padding-right: 35%;
	}
	
}



/* ===== Instructors ===== */

.instructors {
	overflow: hidden; /* apply border radius to belt images */
}

.instr-profiles {
	width: 300%;
}

.instr-profiles[data-position="1"] { transform: translate3d(-33.33%, 0, 0); }
.instr-profiles[data-position="2"] { transform: translate3d(-66.66%, 0, 0); }

.no3d .instr-profiles { left: 0; }
.no3d .instr-profiles[data-position="1"] { left: -100%; }
.no3d .instr-profiles[data-position="2"] { left: -200%; }

.instr-profile {
	width: 33.33%;
	padding-right: 12px;
}

.instr-images {
	position: relative;
	height: 254px;
	overflow: hidden;
}

.instr-belt {
	position: relative;
	z-index: 10;
}

.instr-portrait {
	position: absolute;
	top: 0;
	right: 0;
}

.instr-caption {
	margin-top: 1em; 
}

.instr-heading-sub {
	display: none; /* Hide sub-headings (show main heading only) */
	border-left: none;
	padding-left: 0;
}

.instr-controls {
	padding-bottom: 10px;
	text-align: center;
}

.instr-arrow,
.instr-dot {
	display: inline-block;
	width: 25px;
	height: 25px;
	padding: 0;
	background: url('../images/instr-graphics.png') no-repeat center bottom transparent;
	border: none;
}

.instr-arrow--prev { background-position: left bottom; }
.instr-arrow--next { background-position: right bottom; }
.instr-arrow--prev:not(:disabled):hover { background-position: left top; }
.instr-arrow--next:not(:disabled):hover { background-position: right top; }

.instr-dot:hover,
.instr-dot[aria-selected="true"] {
	background-position: center top;
}

@media (min-width: 47em) {

	/* Hide main heading and show sub-headings */
	.instr-heading { display: none; }
	.instr-heading-sub { display: block; }
	
	.instr-images,
	.instr-caption {
		float: left;
	}
	
	.instr-images {
		width: 52%;
	}

	.instr-caption {
		width: 48%;
		margin-top: 0;
		padding-bottom: 2.7em; /* leave space for slideshow controls */
		font-size: 90%;
	}
	
	.instr-controls {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 48%;
	}
}

@media (min-width: 57em) {

	.instr-caption {
		font-size: 100%;
	}
	
}


/* ===== Executive Committee ===== */

.exec-member {
	position: relative;
	float: left;
	width: 50%;
	margin-top: 8px;
	text-align: center;
	padding: 0 4px;
}

.exec-pic {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	border-radius: 75px;
}

.exec-caption {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	margin-bottom: 12px;
	color: #fff;
	font-size: 85%;
	text-shadow: 0 0 4px #000;
}

.exec-caption > span {
	margin-bottom: 5px;
	font-size: 150%;
}


@media (min-width: 49em) {
	
	.exec-member {
		width: 25%;
		float: left;
	}
	
}

