.clubsGroup {
  max-width: 574px;
  margin: 0 auto 2.25rem;

  &:not(:first-child) {
    margin-top: 3.5rem;
  }
}

.map {
  margin-bottom: 0.25rem;
  background-color: black;
  border-bottom: 0.375rem solid var(--highlight);
}

.heading {
  margin-top: -0.25rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.list {
  composes: list-reset from global;
}

.club {
  margin-top: 2rem;
}

@media (width >= 30em) {
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
  }

  .club {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 50%;
    min-width: 0; /* force long links to be cropped */
    padding: 0 0.75rem;
  }
}

@media (width >= 60em) {
  .clubsGroup {
    flex: 1 1 0%;
    min-width: 0;
    padding: 0 1rem;

    &:not(:first-child) {
      margin-top: 0;
    }
  }
}
