.footer {
  padding: 2rem 0 1.75rem;
  background-color: black;
}

.inner {
  composes: max from global;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logoLink {
  composes: link-reset link-img from global;
  font-size: 75%; /* alt text while loading */
  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateY(-0.25rem);
  }
}

.rmitLink {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.75rem;
  padding-top: 0.25rem;
}

.orgLogoList {
  composes: list-reset from global;
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  order: 1;
  margin-top: 1.75rem;
}

.orgLogoItem {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin: 0.5rem;
}

.socialMedia {
  margin-bottom: 0;
  margin-left: 0.75rem;
  line-height: 1;
}

.socialIcons {
  display: flex;
  margin: 0.5rem -0.125rem 0 0;
}

.socialLink {
  padding: 0 0.125rem;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;

  &:not(:first-child) {
    margin-left: 0.5rem;
  }

  &:not(:hover) {
    opacity: 0.85;
  }

  &:hover {
    transform: translateY(-0.125rem);
  }
}

@media (width >= 45em) {
  .footer {
    padding: 1.75rem 0;
  }

  .rmitLink {
    justify-content: flex-start;
  }

  .orgLogoList {
    flex-basis: auto;
    order: 0;
    margin-top: 0;
  }

  .socialMedia {
    justify-content: flex-end;
    padding-bottom: 0.25em;
    text-align: right;
  }
}

@media (width < 50em) {
  .logoImage {
    width: auto;
    height: 5rem;
  }

  .rmitLink .logoImage {
    height: 4.5rem;
  }
}

@media (width >= 50em) {
  .socialMedia {
    font-size: 120%;
  }
}

@media (width >= 60em) {
  .orgLogoItem {
    margin: 0.5rem 1rem;
  }
}

@media (width >= 75em) {
  .socialMedia {
    font-size: 100%;
  }
}
