.footer {
  padding: 2rem 0 1.75rem;
  background-color: black;
}

.inner {
  composes: max from global;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.logoLink {
  composes: link-img from global;
  transition: transform .2s ease-out;

  &:hover {
    transform: translateY(-.25rem);
  }
}

.rmitLink {
  display: flex;
  justify-content: flex-end;
  margin-right: .75rem;
  padding-top: .25rem;
}

.orgLogoList {
  composes: list-reset from global;
  flex: 1 0 100%;
  order: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1.75rem;
}

.orgLogoItem {
  flex: 0 0 auto;
  margin: .5rem;
  display: flex;
  justify-content: center;
}

.socialMedia {
  line-height: 1;
  margin-left: .75rem;
  margin-bottom: 0;
}

.socialIcons {
  display: flex;
  margin: .5rem -.125rem 0 0;
}

.socialLink {
  padding: 0 .125rem;
  transition: transform .2s ease-out, opacity .2s ease-out;

  &:not(:first-child) {
    margin-left: .5rem;
  }

  &:not(:hover) {
    opacity: .85;
  }

  &:hover {
    transform: translateY(-.125rem);
  }
}

@media (min-width: 45em) {
  .footer {
    padding: 1.75rem 0;
  }

  .rmitLink {
    justify-content: flex-start;
  }

  .orgLogoList {
    order: 0;
    flex-basis: auto;
    margin-top: 0;
  }

  .socialMedia {
    justify-content: flex-end;
    text-align: right;
    padding-bottom: .25em;
  }
}

@media (max-width: 50em) {
  .logoLink > img {
    width: auto;
    height: 5rem;
  }

  .rmitLink img {
    height: 4.5rem;
  }
}

@media (min-width: 50em) {
  .socialMedia {
    font-size: 120%;
  }
}

@media (min-width: 60em) {
  .orgLogoItem {
    margin: .5rem 1rem;
  }
}

@media (min-width: 75em) {
  .socialMedia {
    font-size: 100%;
  }
}
