# Compression
php_flag zlib.output_compression On
php_value zlib.output_compression_level 7

# Cache
<IfModule mod_expires.c>
	ExpiresActive On 
	ExpiresDefault "access plus 1 month"
</IfModule>

# Headers
<IfModule mod_headers.c>
  Header set Connection Keep-Alive
  <FilesMatch ".(js|css|htm|xml|gz)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>

# Charset
AddDefaultCharset UTF-8
AddCharset UTF-8 .php

php_value default_charset "UTF-8"