# Charset
AddDefaultCharset UTF-8

# Cache
<IfModule mod_expires.c>
	ExpiresActive On 
	ExpiresDefault A0
	<filesMatch "\.(xml|ico|js|css|gif|jpg|jpeg|png|svg)$">
		ExpiresDefault "access plus 1 month"
		Header append Cache-Control "public"
	</filesMatch>
</IfModule>

# Headers
<IfModule mod_headers.c>
  Header set Connection Keep-Alive
  <FilesMatch ".(js|css|htm|xml|gz)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>

# gzip compression
AddOutputFilterByType DEFLATE text/php
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/javascript

# Turn mod_rewrite on
<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On

	## don't touch PHP files in these folders:
	RewriteRule ^core/ - [L,NC]
	RewriteRule ^includes/ - [L,NC]
	RewriteRule ^admin/includes/ - [L,NC]

	## hide .php extension snippet

	# To externally redirect /dir/foo.php to /dir/foo
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
	RewriteRule ^ %1 [R,L]

	# To internally forward /dir/foo to /dir/foo.php
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}.php -f
	RewriteRule ^(.*?)/?$ $1.php [L]
</IfModule>
