@import "~normalize.css";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
  font-size: 100%;
  line-height: 1.6;
}

body {
  min-height: 100%;
}

a {
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 35em) {
  html {
    font-size: 105%;
  }
}
