.banner {
  position: relative;
  min-height: 26rem;
  padding: 4.5rem 1.5rem 3rem; /* clear logo */
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.bannerHome {
  composes: banner;
  background: black url('../../images/heros/hero.jpg') center / auto 100% no-repeat;

  &::before {
    background-color: black;
    opacity: .75;
  }
}

.bannerPage {
  composes: banner;
  background-blend-mode: lighten; /* blend photo with triangle bg pattern and bg colour */

  &::before {
    background-color: var(--bg-primary);
    opacity: .85;
  }
}

.bannerTkd {
  composes: bannerPage;
  background: url('../../images/white-diamond-dark.png'),
    black url('../../images/heros/tkd.jpg') center / auto 100% no-repeat;
}

.bannerDojang {
  composes: bannerPage;
  background: url('../../images/white-diamond-dark.png'),
    black url('../../images/heros/dojang.jpg') center / auto 100% no-repeat;
}

.bannerContact {
  composes: bannerPage;
  background: url('../../images/white-diamond-dark.png'),
    black url('../../images/heros/contact.jpg') center / auto 100% no-repeat;
}

.banner404 {
  composes: bannerPage;
  background: url('../../images/white-diamond-dark.png'), black none;
  min-height: 0;
  flex: 1;

  &::before {
    content: none;
  }
}

@supports (background-blend-mode: lighten) {
  .bannerPage {
    background-color: var(--bg-primary); /* IE needs black bg by default */
  }
}

.heading {
  font-size: 190%;
  font-weight: 600;
  text-transform: uppercase;
}

.sub {
  display: inline-flex;
  margin-bottom: .75rem;
  padding: .125rem .5rem;
  background-color: var(--highlight);
  font-size: 130%;
  text-transform: uppercase;
}

.intro {
  max-width: 27rem;

  & > p:last-child {
    margin-bottom: 0;
  }
}

.bannerHome .heading {
  margin-bottom: 1rem;
}

.bannerHome .intro {
  max-width: 18rem;
  line-height: 1.75;
}

@media (width >= 26em) {
  .banner {
    padding: 4rem 2rem 5rem;
  }

  .heading {
    font-size: 200%;
  }

  .sub {
    padding: .25rem .75rem;
  }

  .bannerHome .heading {
    font-size: 225%;
  }
}

@media (width >= 40em) {
  .banner {
    padding-top: 5rem;
    padding-bottom: 4.5rem;

    &::before {
      opacity: .75;
    }
  }

  .bannerHome {
    padding-top: 10rem;
    min-height: 32rem;
    background-position: center right -4rem;
  }

  .bannerPage {
    background-position: 0 0, center right -8rem;
  }

  .heading {
    font-size: 250%;
  }

  .sub {
    font-size: 160%;
    font-weight: 200;
    padding: .125rem 1rem;
  }

  .bannerHome .heading {
    margin-bottom: .75rem;
    font-size: 300%;
  }

  .bannerHome .intro {
    max-width: 24rem;
  }
}

@media (width >= 45em) {
  .banner {
    padding-top: 5.75rem;
  }

  .bannerHome {
    padding-top: 12rem;
    min-height: 34rem;
  }
}

@media (width >= 55em) {
  .banner {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .bannerPage {
    padding-top: 6rem;
    background-position: 0 0, center right -8rem;
  }
}

@media (width >= 60em) {
  .banner::before {
    content: none;
  }

  .inner {
    box-sizing: content-box;
    max-width: 60rem;
    margin: 0 auto;
  }

  .bannerPage {
    background-position: 0 0, center right -5rem;
  }
}

@media (width >= 65em) {
  .bannerHome {
    padding-bottom: 14rem;
  }

  .bannerPage {
    background-position: 0 0, center right -3rem;
  }

  .bannerHome .heading {
    font-size: 325%;
  }
}

@media (width >= 75em) {
  .banner {
    min-height: 28.5rem;
  }

  .banner404 {
    min-height: 0;
  }
}

@media (width >= 80em) {
  .bannerHome {
    background-position: center right;
  }

  .bannerPage {
    background-position: 0 0, center right;
  }
}
